go 1.22.0

use (
	./Services/auth-service
	./Services/driver-service
	./Services/location-service
	./Services/notification-service
	./Services/payment-service
	./Services/trip-service
	./devserver
	./pkg
	./proto
	./tests/live
)
